<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gnrx"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>GNR-x 2.571</name>

    <description>
      Gestão de Normas Regulamentadoras
    </description>

    <author href="https://gnrx.com" email="guilhermecampos100@gmail.com">
     Guilherme Campos
    </author>
	
	<gap:plugin name="org.apache.cordova.camera" source="npm" />
	<gap:plugin name="org.apache.cordova.geolocation" source="npm" />
	<gap:plugin name="org.apache.cordova.file" source="npm" />
	<gap:plugin name="org.apache.cordova.file-transfer" source="npm" />	
	<gap:plugin name="com.applicationnexus.plugins.speechrecognition" />
	<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" source="npm"  />
	<preference name="ChaveSpeech" value="1d05de58aef3c70e1a0072c5afc456ae" />

	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
    <access origin="*" />
	<allow-navigation href="*" />
	
	
</widget>



