<ons-page ng-controller="ConfigController">
    
    <ons-toolbar>
		<div class="left"><ons-back-button>Voltar</ons-back-button></div>
		<div class="center">Configurações</div>
		<div class="right">
		<ons-toolbar-button ng-click="VoltaTopo()">
		<ons-icon icon="fa-home"></ons-toolbar-button></div>
	</ons-toolbar>

	
		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			 <b> {{secaoPai.descricao}} </b>

			</ons-col>						
		</ons-row>
	</ons-list-item>
	

		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			    <section>
				Total de itens na seção: {{ totalitens}} 
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>

		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			    <section>
				itens respondidos: {{ totalrespondidos}} 
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	
		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			    <section>
				Itens conforme: {{ totalconforme}} 
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>


		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			    <section>
				Itens não conforme: {{ totalnaoconforme}} 
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	

		<ons-list-item modifier="tappable" >
		<ons-row>
			<ons-col>
			    <section>
				Itens não se aplica: {{ totalnaoseaplica}}
				</ons-col>
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	<ons-list-item class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="fa-search"> &nbsp; </span>
			</section>
			</ons-col>
			<ons-col width=88%>
			<section>
					<input name=busca ng-model=busca><button ng-click="buscar()">ok</button>
			</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	<ons-list-item  ng-click="clonasecao()" modifier="chevron" class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="ion-ios-browsers-outline"> &nbsp; </span>
			</section>
			</ons-col>
			<ons-col width=88%>
			<section>
					Clonar Seção
			</section>					
			</ons-col>						
		</ons-row>
	</ons-list-item>

	

	
	<ons-list-item  ng-show="fotosecao == undefined ||  fotosecao == '' "   ng-click="tirafotosecao()" modifier="chevron" class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="fa-camera"> &nbsp; </span>
			</section>
			</ons-col>
			<ons-col width=88%>
			<section>
				Atribuir Foto a Seção
			</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	<ons-list-item  ng-show="fotosecao != undefined && fotosecao != ''" ng-click="apagafotosecao()" modifier="chevron" class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span> <img ng-src={{fotosecao}} style="width:80%"> </span>
			</section>
			</ons-col>
			<ons-col width=88%>
			<section>
					Apaga Foto da Seção 
			</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	
	<ons-list-item  ng-click="atualizaservidor()" modifier="chevron" class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="fa-upload"> &nbsp; </span>
			</section>
				</ons-col>
				<ons-col width=88%>
				<section>
					Upload Servidor {{conta_atualizando_servidor}}/{{total_para_servidor}} {{conta_atualizando_fotos_servidor}}/{{total_fotos_para_servidor}} 
				</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
	<ons-list-item  ng-click="entraescolha();" modifier="chevron" class="lista_cinza">
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="fa-refresh"> &nbsp; </span>
			</section>				
			</ons-col>
			<ons-col width=88%>	
			<section>			
					Trocar Checklist
			</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>	
	
	<ons-list-item  ng-click="apagachecklist();" modifier="chevron" class="lista_vermelha" >
		<ons-row>
			<ons-col width=12%>
			<section>
				<span>&nbsp; <ons-icon icon="fa-trash-o"> &nbsp; </span>
			</section>
			</ons-col>
			<ons-col width=88%>
			<section>
					Apagar Seção
			</section>
			</ons-col>						
		</ons-row>
	</ons-list-item>	
<style>

.lista_cinza {
  background-color: #c0c0c0;
  width=100%;
  height=100%;
}

.lista_vermelha {
  background-color: red;
  width=100%;
  height=100%;
}
</style>
	
</ons-page>



