<ons-page ng-controller="SecoesController">
    
	<ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Puxe para atualizar</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Solte para atualizar</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Carregando dados...</span>
        </span>
    </ons-pull-hook>
	  
	  
    <ons-toolbar>
    <div class="left"><ons-back-button>Voltar</ons-back-button></div>
    <div class="center">{{secaoPai.descricao}}</div>
	<div class="right">
	<ons-toolbar-button ng-click="VoltaTopo()">
	<ons-icon icon="fa-home"></ons-toolbar-button>
	
	<ons-toolbar-button ng-show="secaoPai.codigo != undefined && secaoPai.codigo != ''" ng-click="PaginaConfig()">
	<ons-icon icon="fa-gear"></ons-toolbar-button>
	</div>
	</ons-toolbar>

<style>
.lista_amarela {
  background-color: gold;
  width=100%;
  height=100%;
}

.lista_verde {
 /*  background-color: lightgreen; */
  background-color: #FFF700; 
  width=100%;
  height=100%;
}

.linkglo {
color: blue;
text-decoration: underline;
}
</style>
	
	<ons-list >
	<ons-list-item  name={{secao.codigo}} modifier="chevron" class="{{classelista(secao.tipo, secao.entidade)}}" ng-repeat="secao in secoes" ng-click="showDetail($index)">
		<ons-row>
			<ons-col width=10%>
			    <section>
				<span ng-show="secao.tipo == 'secao'">
					<span ng-show="secao.fotosecao != undefined"><img ng-src="{{caminhofoto + secao.fotosecao}}" style="width:80%"></span>
					<span ng-show="secao.fotosecao == undefined"><ons-icon icon="fa-folder-o" ></ons_icon></span>
				</span>
				<span ng-show="secao.tipo == 'item'" style="color:{{coricone(secao.conforme)}}"><ons-icon icon="{{icone(secao.conforme)}}" ></ons_icon></span> 

				<br>
				<span ng-show="secao.qtd_fotos > 0 && secao.tipo=='item'" style="font-size:10px; color:#1284ff;"><ons-icon icon="fa-camera" ></ons_icon></span>
				<span ng-show="secao.latitude != undefined && secao.latitude != ''" style="font-size:10px; color:#1284ff;"><ons-icon icon="fa-map-marker" ></ons_icon></span>
				<span ng-show="secao.obs != undefined && secao.obs != ''" style="font-size:10px; color:#1284ff;"><ons-icon icon="fa-comment" ></ons_icon></span>				
                </section>
			</ons-col>
			<ons-col width=80%>
			    <section>
				<span ng-show="secao.tipo == 'secao'"><b><span compile="secao.descricaocomglossario"></span> ({{secao.respondidos}}/{{secao.totalitens}}) </b> &nbsp; <a id="imagemanexa" href="#" ng-show="secao.imagemanexa" ng-click="abrepagina(secao.imagemanexa);"> veja imagem </a></span>
				<span ng-show="secao.tipo == 'item'"><span compile="secao.descricaocomglossario"></span> &nbsp; <a id="imagemanexa" href="#" ng-show="secao.imagemanexa" ng-click="abrepagina(secao.imagemanexa);"> veja imagem </a></span>
				
				
                </section>
			</ons-col>		
			<ons-col width=10%>
			    <section>
			
                </section>
			</ons-col>						
		</ons-row>
	</ons-list-item>
	
</ons-page>

